  <ul class="nav" style="">
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('kassa_home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('kassa_coins')}}">Munten Registreren<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('kassa_trans')}}">Transacties<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('logout')}}">Logout<span class="sr-only">(current)</span></a>
      </li>
  </ul>