  <ul class="nav" style="">
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('manager_home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('manager_coins')}}">Geregistreerde Munten<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('manager_clients')}}">Clienten<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('manager_trans_dag')}}">Transacties Per Dag<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('manager_trans_mnd')}}">Transacties Per Maand<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a style="color:#45B649" class="nav-link" href="{{ url_for('logout')}}">Logout<span class="sr-only">(current)</span></a>
      </li>
  </ul>